* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    overflow-x: hidden;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    font-weight: 400;
}

/* hide-hdr */
.side-menu {
    top: 0;
    right: 0;
    width: 100%;
    height: 575px;
    z-index: 9999;
    background-color: #100e2ea1;
    transform: translate3d(100%, 0, 0);
    transition: transform .5s ease;
    position: fixed;
    transform: translate3d(0, 0, 0);
    display: none;
}

.inner {
    height: 70%;
    position: relative;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.s-nav {
    margin-bottom: 0;
}

.s-nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
    margin-top: 30px;
}

.s-nav ul li {
    opacity: 0;
    margin: 10px 0;
    box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.329);
    width: 300px;
    padding: 15px 0;
}

.side-menu-active .s-nav ul li {
    transform: translateY(0);
    opacity: 1;
    background-color: #100e2e;
}

.s-nav ul a {
    color: #EC9123;
    font-size: 18px;
    line-height: normal;
    position: relative;
    border-radius: 0;
    text-decoration: none;
    margin-left: 0;
    justify-content: center;
}

.i-con {
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 31px 0 20px 0;
}

.nav-icon {
    padding-top: 38px;
}



/* header fix  */
.test {
    visibility: visible;
    background-color: rgba(18, 16, 47, 0.90) !important;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    top: 0px;
    z-index: 111;
}

/* navebar */

.nev-bg {
    height: 100px;
    width: 100%;
    background-color: #12102f;
    z-index: 999;
    /* position: absolute; */
    top: 0;
    left: 0;
}

.logo {
    padding: 0px 15px;
}

.logo img {
    padding: 20px 0px;
}

.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 30px 0px !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 15px;
}

.nav-link:hover {
    color: #EC9123 !important;
}

ul li:hover>ul {
    display: block;
}

.mega-menu {
    background-color: #0d0b26;
    border-top: 2px solid #EC9123;
    transition: all 0.4s ease 0s !important;
    position: absolute;
    width: 220px;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.4s ease 0s;

}

.mega-menu a {
    color: #fff;
    background-color: #0d0b26;
    display: block;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.4s ease 0s;
}

.mega-menu a:hover {
    background-color: #EC9123;
    color: #fff;
}

.mx-auto {
    margin-right: 0px !important;
}


/* main TEAM img..... */

.page-area {
    background: url(../img3/mainimg.jpg);
    height: 427px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.breadcumb-overlay {
    position: absolute;
    background: rgba(18, 16, 47, 0.60) none repeat scroll 0 0;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.breadcrumb {
    padding: 200px 0px 100px;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 4px;
    list-style: none;
}

.text-center h3 {
    text-align: center;
}

.breadcrumb .section-headline {
    padding-bottom: 0px;
}

.section-headline {
    position: relative;
}

h3 {
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 42px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    margin: 0 0 15px;
    font-family: 'Montserrat', sans-serif;
}

.breadcrumb-bg {
    position: relative;
    top: 130px;
    background: #0d0b26;
    border-radius: 5px;
    padding: 22px 30px;
    box-shadow: 2px 2px 5px #0d0b26, 0px 0px 0px #0d0b26;
    z-index: 99;
    margin: 0;
}

.breadcrumb ul li.home-bread {
    padding-left: 0px;
}

.breadcrumb ul li {
    display: inline-block;
    color: #cecde9;
    padding: 0px 10px 0px 20px;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.breadcrumb ul i {
    color: #cecde9;
}

.breadcrumb {
    display: block;
}


/* blog-3 start.... */

.col-pdg{
    padding: 0px 15px;
}
.bg-color-2 {
    background: #100e2e;
}

.page-padding {
    padding: 130px 0px 100px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.blog-banner a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.blog-images img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.blog-details .blog-content {
    background: #0d0b26;
    padding: 30px 20px 30px 30px;
}
.blog-meta span {
    color: #cecde9;
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}
.blog-details .blog-content h4 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 10px;
    font-weight: 600;
    margin: 0 0 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.blog-content p {
    color: #cecde9;
    margin: 0 0 15px;
    letter-spacing: 0.50px;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: 5px solid #EC9123;
    font-style: italic;
}
blockquote p {
    font-size: 16px !important;
    line-height: 28px;
    margin: 0 0 15px;
    letter-spacing: 0.50px;
}
blockquote p:last-child {
    margin-bottom: 0;
}
.single-post-comments {
    margin-top: 30px;
}
.comments-heading h3 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: capitalize;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.comments-list ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.comments-list ul li {
    margin-bottom: 25px;
}

li.threaded-comments {
    margin-left: 50px;
}
.comments-list-img {
    float: left;
    margin-right: 15px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
.comments-content-wrap {
    color: #fff;
    font-size: 14px;
    margin: 0 0 15px 60px;
    padding: 10px;
    position: relative;
}
.comments-content-wrap span b {
    margin-right: 5px;
    font-weight: bold;
}
.comments-content-wrap span a {
    color: #EC9123;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.comments-content-wrap p {
    color: #ccc;
    margin: 10px 0px 15px 0px;
    letter-spacing: 0.50px;
}
.img-m{
    margin-top: 15px;
}
.comment-respond {
    margin-top: 20px;
}
.comment-reply-title {
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: capitalize;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.email-notes {
    color: #ccc;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.comment-respond p {
    color: #ccc;
    margin-bottom: 5px;
    letter-spacing: 0.50px;
}
.comment-respond input[type=text], .comment-respond input[type=email] {
    border: 1px solid #272644;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    width: 100%;
    background: #272644;
}
.comment-respond textarea#message-box {
    border: 1px solid #272644;
    border-radius: 5px;
    max-width: 100%;
    padding: 10px;
    height: 220px;
    width: 100%;
    background: #272644;
}
.contact-btn {
    background: #EC9123;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 15px 20px;
    transition: 0.4s;
    border-radius: 2px;
    width: auto !important;
    margin-top: 20px;
    border: 1px solid #EC9123;
    text-transform: capitalize;
    font-weight: 600;
}
.contact-btn:hover{
    background: transparent;
    color: #EC9123;
}

/* right column */

.left-head-blog {
    padding-left: 40px;
}
.blog-search-option {
    margin-bottom: 30px;
    display: block;
    border: 1px solid #272644;
    border-radius: 2px;
    background: #272644;
}
.blog-search-option input {
    padding: 5px 15px;
    width: 80%;
    border: none;
    height: 52px;
    background: #272644;
}
input{
    color: inherit;
    font: inherit;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.blog-search-option button {
    background: transparent;
    border: none;
}
.blog-search-option button i {
    line-height: 16px;
    font-size: 20px;
    padding: 0px 10px;
    color: #fff;
}
.left-blog1 {
    overflow: hidden;
    padding-bottom: 20px;
}
.left-blog1 h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0px;
    text-transform: capitalize;
    position: relative;
    line-height: 26px;
    margin: 0 0 15px;
    font-family: 'Montserrat', sans-serif;
}
.left-blog1 h4::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 80px;
    height: 1px;
    background: #EC9123;
}
.left-blog1 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.left-blog1 li {
    display: block;
}
.left-blog1 li :hover{
    color: #EC9123;
    transition: all 0.3s ease 0s;
}
.left-blog1 ul li a {
    color: #cecde9;
    display: block;
    font-size: 15px;
    padding: 8px 0px 8px 20px;
    text-transform: capitalize;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.left-blog1 ul li a::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    background: #EC9123;
    height: 6px;
    width: 6px;
    border-radius: 1px;
}
.left-blog1 ul li a::after {
    position: absolute;
    content: "\f054";
    top: 8px;
    right: 0;
    color: #EC9123;
    font-family: cavalier;
    font-size: 13px;
}
.recent-single-post {
    display: block;
    overflow: hidden;
    padding: 15px 0px;
}
.post-img {
    display: inline-block;
    float: left;
    padding-right: 10px;
    width: 32%;
    height: 100%;
    min-height: 85px;
}
.post-img a {
    display: block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.post-img a img {
    width: 100%;
    height: 100%;
    min-height: 85px;
    object-fit: cover;
    border-radius: 3px;
    vertical-align: middle;
}
.pst-content {
    display: inline-block;
    float: left;
    width: 65%;
    padding-left: 10px;
}
.left-head-blog .pst-content p {
    margin-bottom: 5px;
    margin: 0 0 15px;
    color: #cecde9;
    letter-spacing: 0.50px;
}
.pst-content p a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.pst-content p a:hover{
    color: #EC9123;
    transition: all 0.5s ease 0s;
}
.pst-content .date-type {
    font-size: 14px;
}
.popular-tag.left-side-tags.left-blog ul {
    padding: 0px;
    list-style: outside none none;
    margin: 0;
}
.left-tags .left-side-tags ul li {
    border-bottom: 0;
    display: inline-block;
    margin: 6px 0px;
}
.left-tags .left-side-tags ul li a {
    padding: 5px 10px;
    width: auto;
    border: 1px solid #0d0b26;
    background: #0d0b26;
    color: #ddd;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
}
.left-tags .left-side-tags ul li a:hover{
    background-color: #EC9123;
    transition: all 0.6s ease 0s;
}
.left-blog ul li a {
    display: block;
    text-transform: capitalize;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.left-blog h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0px;
    text-transform: capitalize;
    position: relative;
    line-height: 26px;
    margin: 0 0 15px;
    font-family: 'Montserrat', sans-serif;
}
.left-blog h4::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 80px;
    height: 1px;
    background: #EC9123;
}

/* footer-bg......... */

.footer-bg {
    background-color: #0d0b26;
    padding: 100px 0px;
}

.footer-content {
    display: block;
    overflow: hidden;
}

.footer-head h4 {
    margin: 0 0 15px;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.footer-head p {
    color: #cecde9;
    letter-spacing: 0.50px;
    margin: 0 0 15px;
}

.footer-contacts p span {
    color: #EC9123;
    font-weight: 700;
}

.footer-icons {
    margin-top: 20px;
}

.footer-icons ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-icons ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border: 1px solid #EC9123;
    background: #EC9123;
    border-radius: 2px;
    transition: 0.4s;
}

.footer-icons ul li a:hover {
    border: 1px solid #EC9123;
    background: #ec912300;
    color: #EC9123;
}

.footer-list {
    width: 50%;
    float: left;
}

.footer-services-link ul {

    list-style: outside none none;
    margin: 0;
    padding: 0;

}
.footer-list li:first-child a {
    margin-top: 0px;
}
.footer-list li a {
    color: #cecde9;
    padding-left: 20px;
    margin: 11px 0px 10px 0px;
    display: block;
    position: relative;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.footer-list li a:hover {
    color: #EC9123;
    transition: all 0.5s ease 0s;
}
.footer-list li a::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    background: #EC9123;
    height: 6px;
    width: 6px;
    border-radius: 1px;
}
.suscribe-input {
    margin-top: 20px;
}
.suscribe-input input {
    background: #272644;
    border: medium none;
    color: #cecde9;
    font-size: 15px;
    line-height: 24px;
    padding: 11px 15px;
    height: 54px;
    border-radius: 2px;
    width: 100%;
    border: 1px solid #272644;
}
.suscribe-input button {
    background: #EC9123;
    border: 1px solid #EC9123;
    color: #fff;
    font-size: 18px;
    padding: 13px 25px;
    border-radius: 2px;
    transition: 0.4s;
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: 700;
}
.suscribe-input button:hover{
    border: 1px solid #EC9123;
    background: #ec912300;
    color: #EC9123;
}


/* End footer area........... */

.end-footer-bg{
    background: #0c0a24;
    padding: 25px 0;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.copyright > p {
    margin-bottom: 0;
    color: #cecde9;
}
.copyright a {
    color: #EC9123;
    text-decoration: none;
}

/* btn fix....... */

.fix-btn{
    background: #EC9123 none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 20px;
    height: 54px;
    width: 54px;
    line-height: 50px;
    right: 25px;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 1px solid #EC9123;
    bottom: 60px;
    right: 30px;
}
.fix-btn:hover{
    background: #ec912300;
    border: 1px solid #EC9123;
    color: #EC9123;
}
.test1 {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    z-index: 2147483647;
}


@media (max-width:991px) {
    .h-hide {
        background-color: #fff;
        position: fixed;
        height: 76px;
        display: flex;
        justify-content: space-around;
    }

    .my-tog-btn {
        display: grid;
        padding-top: 37px;
        height: 0;
        width: 35px;
    }

    .h-hdr {
        justify-content: space-around;
    }

    .my-tog-btn span {
        background-color: #fff;
        margin-bottom: 10px;
        height: 2px;
        width: 100%;
    }
    .footer-bg {
        padding: 50px 0;
    }
    .footer-content{
        padding-bottom: 20px;
    }
    .footer-bg {
        padding-bottom: 0;
    }
    .col-md-8 {
        width: 100%;
    }
    .col-md-4 {
        width: 100%;
        padding-top: 30px;
    }
    .left-head-blog {
        padding-left: 0;
    }
    .blog-search-option button i {
        padding: 0px 55px;
    }
    .col-md-4 {
        width: 100%;
        padding-top: 30px;
    }
    .left-head-blog {
        padding-left: 0;
    }
    .blog-search-option button i {
        padding: 0px 30px;
    }
    .blog-details{
        display: block !important;
    }

}
@media (max-width:767px) {
    .f-width{
        width: 100%;
    }
    .row{
        padding-right: 15px;
        padding-left: 15px;
    }

}
@media (max-width:576px) {
    .comments-content-wrap {
        margin: 0 0 15px 83px;
    }
    .blog-search-option button i {
        padding: 0px 10px;
    }
}
@media (max-width:425px) {
    .test {
        width: 98.3%;
    }
    .breadcrumb ul li {
        padding: 0px 10px 0px 10px;
    }
    .page-padding {
        padding: 70px 0px 50px;
    }

}
@media (max-width:363px) {
    .r-pdg{
        padding-top: 50px !important;
    }
}
@media (max-width:375px) {
    .comments-list-img {
        float: revert;
    }
    .comments-content-wrap {
        margin: 0;
    }
    .contact-btn {
        font-size: 16px;
        padding: 10px 15px;
    }
    .blog-details .blog-content h4 {
        font-size: 20px;
    }
}
